* {
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    background: transparent;
    box-sizing: border-box;
    color: unset;
}

*:focus {
    outline: 1px solid rgba(255,255,255,0.8);
    outline-offset: 3px;
}

html,
body {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    background: #000;
    color: #fff;
    font-size: 1.1rem;
    font-family: sans-serif;
}

button {
    cursor: pointer;
}

label {
    min-width: 300px;
}

label input {
    font-size: .9rem;
}

label input[type=text],
label input[type=url] {
    border-bottom: 1px dotted #ffffff;
    width: 100%;
    max-width: 40ex;
    text-align: center;
    padding: 7px;
    color: #fff;
}

ul {
    margin: 1rem 0;
    list-style-type: none;
    min-width: 300px;
}

ul li {
    position: relative;
}

ul li span {
    display: block;
    padding: 1ex;
    text-align: center;
}

body.edit ul li span {
    background: rgba(255, 255, 255, .15);
    margin-bottom: 1px;
}

body.edit ul {
    margin-left: -44px;
}

ul li button {
    display: none;
    width: 43px;
    height: 43px;
    position: absolute;
    background: rgba(255, 0, 0, .66);
    bottom: 0;
    right: -44px;
}

button.rename {
    background: rgba(255, 255, 0, .66);
    top: 0;
}

body.rename li.rename button.rename {
    background: rgba(0, 255, 0, .66);
}

body > section {
    display: flex;
    flex-direction: column;
}

body button.edit {
    width: 40px;
    height: 20px;
    border: 1px solid #fff;
    background: linear-gradient(90deg, #fff 50%, transparent 50%);
    float: right;
    margin-bottom: 6px;
}

body.edit button.edit {
    background: linear-gradient(90deg, transparent 50%, #fff 50%);
}

body.edit ul li span:nth-child(n+2),
body.edit.rename ul li.rename button.rename,
body.edit ul li button {
    display: block;
}

body.rename button,
body.edit.rename button,
body ul li span:nth-child(n+2) {
    display: none;
}

section.content {
    flex: 1;
    justify-content: center;
    align-items: center;
}

@media(hover: hover) {
    body.edit ul li:hover,
    ul li:hover {
        background: rgba(255, 255, 255, .25);
        cursor: pointer;
    }
}

body.edit.selected ul li {
    margin-top: 15px;
}

body.edit.selected ul li:before {
    position: absolute;
    z-index: 10;
    left: 0;
    right: 0;
    display: block;
    content: "";
    height: 16px;
    bottom: 100%;
    background: #000;
    border: 2px dashed rgba(255, 255, 255, .5);
    box-shadow: 0 0 5px 6px rgba(0,0,0,.5);
    pointer-events: none;
}
